.home-container {
  padding: 20px;
}

.product-filter {
  margin-bottom: 20px;
}

.product-filter label {
  margin-right: 10px;
  font-size: 19.2px;
}

.product-filter select {
  padding: 5px 10px;
  font-size: 16px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
